Node Red Backup.txt
[{"id":"4adc1dab.37ef64","type":"tab","label":"Flow 1"},{"id":"72685ddf.2c4474","type":"tab","label":"Flow 2"},{"id":"db384b0c.0d6d48","type":"ui_group","z":"","name":"Default","tab":"3e5a8796.a16a18","disp":true,"width":"12","collapse":false},{"id":"f048c755.6b59d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3e5a8796.a16a18","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"d2e8ad73.618f8","type":"http in","z":"4adc1dab.37ef64","name":"","url":"/downlink","method":"post","upload":true,"swaggerDoc":"","x":200,"y":260,"wires":[["26edeccb.952034","6a4d0e3c.4514c"]]},{"id":"26edeccb.952034","type":"debug","z":"4adc1dab.37ef64","name":"","active":true,"console":"false","complete":"true","x":770,"y":320,"wires":[]},{"id":"386ff5ba.bae77a","type":"http response","z":"4adc1dab.37ef64","name":"HTTP Response","statusCode":"","headers":{},"x":770,"y":260,"wires":[]},{"id":"6a4d0e3c.4514c","type":"function","z":"4adc1dab.37ef64","name":"","func":"var downlinkData = \"0102030405060708\";\nvar x  =  '{ \"' +  msg.payload.device  + '\" :{\"downlinkData\" : \"' + downlinkData + '\" } }'; // response is the 8 nytes\n//var x = '{\"' + msg.payload.device + '\": { \"noData\" : true } }'; // send this if you dont want to send any response\n\n\nmsg.payload = JSON.parse(x);\nmsg.statusCode = 200;\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":260,"wires":[["386ff5ba.bae77a","8e0c3515.1b4008"]]},{"id":"8e0c3515.1b4008","type":"debug","z":"4adc1dab.37ef64","name":"","active":true,"console":"false","complete":"true","x":676.76171875,"y":201.33203125,"wires":[]},{"id":"bb24ba14.cfa288","type":"inject","z":"72685ddf.2c4474","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":260,"wires":[["3156998f.9b4fa6"]]},{"id":"3156998f.9b4fa6","type":"function","z":"72685ddf.2c4474","name":"Random Number","func":"msg.payload = Math.round(Math.random()*100);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["e3fde2e7.e14d2","86e6019c.83b0c"]]},{"id":"e3fde2e7.e14d2","type":"debug","z":"72685ddf.2c4474","name":"","active":false,"console":"false","complete":"false","x":690,"y":118,"wires":[]},{"id":"86e6019c.83b0c","type":"ui_chart","z":"72685ddf.2c4474","name":"","group":"db384b0c.0d6d48","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":730,"y":201,"wires":[[],[]]},{"id":"a42a5efb.ecb7b","type":"http in","z":"72685ddf.2c4474","name":"","url":"myapi","method":"post","upload":false,"swaggerDoc":"","x":96,"y":391.5,"wires":[["7fe34347.588fcc"]]},{"id":"7b271a0e.edeb04","type":"http response","z":"72685ddf.2c4474","name":"","statusCode":"","headers":{},"x":761,"y":292,"wires":[]},{"id":"7fe34347.588fcc","type":"function","z":"72685ddf.2c4474","name":"","func":"//msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":391.5,"wires":[["4c343000.e9e81","f5c289f6.ed6f68"]]},{"id":"f5c289f6.ed6f68","type":"debug","z":"72685ddf.2c4474","name":"","active":true,"console":"false","complete":"false","x":739.0000267028809,"y":499.99999809265137,"wires":[]},{"id":"4c343000.e9e81","type":"function","z":"72685ddf.2c4474","name":"","func":"var downlinkData = \"0102030405060708\";\n\n\nvar x  =  '{ \"' +  msg.payload.device  + '\" :{\"downlinkData\" : \"' + downlinkData + '\" } }'; // response is the 8 nytes\n//var x = '{\"' + msg.payload.device + '\": { \"noData\" : true } }'; // send this if you dont want to send any response\n\n\nmsg.payload = JSON.parse(x);\nmsg.statusCode = 200;\nreturn msg;\n","outputs":1,"noerr":0,"x":455,"y":365.5,"wires":[["f655dfd7.c7661","7b271a0e.edeb04"]]},{"id":"f655dfd7.c7661","type":"debug","z":"72685ddf.2c4474","name":"","active":true,"console":"false","complete":"payload","x":728,"y":387,"wires":[]},{"id":"a0759fca.e70b6","type":"http request","z":"72685ddf.2c4474","name":"","method":"POST","ret":"obj","url":"http://52.56.182.210/netsensors/myapi.php","tls":"","x":630,"y":622.5,"wires":[["71484133.a8e0f"]]},{"id":"dcbdec05.1f12b","type":"inject","z":"72685ddf.2c4474","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":176,"y":621.5,"wires":[["fb61e805.e34e78"]]},{"id":"fb61e805.e34e78","type":"function","z":"72685ddf.2c4474","name":"","func":"msg.payload = '{\"test\":1}'\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":622,"wires":[["a0759fca.e70b6"]]},{"id":"71484133.a8e0f","type":"debug","z":"72685ddf.2c4474","name":"","active":false,"console":"false","complete":"false","x":860,"y":623,"wires":[]}]


[{"id":"4adc1dab.37ef64","type":"tab","label":"Flow 1"},{"id":"72685ddf.2c4474","type":"tab","label":"Flow 2"},{"id":"db384b0c.0d6d48","type":"ui_group","z":"","name":"Default","tab":"3e5a8796.a16a18","disp":true,"width":"12","collapse":false},{"id":"f048c755.6b59d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3e5a8796.a16a18","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"d2e8ad73.618f8","type":"http in","z":"4adc1dab.37ef64","name":"","url":"/downlink","method":"post","upload":true,"swaggerDoc":"","x":200,"y":260,"wires":[["26edeccb.952034","6a4d0e3c.4514c"]]},{"id":"26edeccb.952034","type":"debug","z":"4adc1dab.37ef64","name":"","active":true,"console":"false","complete":"true","x":770,"y":320,"wires":[]},{"id":"386ff5ba.bae77a","type":"http response","z":"4adc1dab.37ef64","name":"HTTP Response","statusCode":"","headers":{},"x":770,"y":260,"wires":[]},{"id":"6a4d0e3c.4514c","type":"function","z":"4adc1dab.37ef64","name":"","func":"var downlinkData = \"0102030405060708\";\nvar x  =  '{ \"' +  msg.payload.device  + '\" :{\"downlinkData\" : \"' + downlinkData + '\" } }'; // response is the 8 nytes\n//var x = '{\"' + msg.payload.device + '\": { \"noData\" : true } }'; // send this if you dont want to send any response\n\n\nmsg.payload = JSON.parse(x);\nmsg.statusCode = 200;\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":260,"wires":[["386ff5ba.bae77a","8e0c3515.1b4008"]]},{"id":"8e0c3515.1b4008","type":"debug","z":"4adc1dab.37ef64","name":"","active":true,"console":"false","complete":"true","x":676.76171875,"y":201.33203125,"wires":[]},{"id":"bb24ba14.cfa288","type":"inject","z":"72685ddf.2c4474","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":260,"wires":[["3156998f.9b4fa6"]]},{"id":"3156998f.9b4fa6","type":"function","z":"72685ddf.2c4474","name":"Random Number","func":"msg.payload = Math.round(Math.random()*100);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["e3fde2e7.e14d2","86e6019c.83b0c"]]},{"id":"e3fde2e7.e14d2","type":"debug","z":"72685ddf.2c4474","name":"","active":false,"console":"false","complete":"false","x":690,"y":118,"wires":[]},{"id":"86e6019c.83b0c","type":"ui_chart","z":"72685ddf.2c4474","name":"","group":"db384b0c.0d6d48","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":730,"y":201,"wires":[[],[]]},{"id":"a42a5efb.ecb7b","type":"http in","z":"72685ddf.2c4474","name":"","url":"myapi","method":"post","upload":false,"swaggerDoc":"","x":96,"y":391.5,"wires":[["7fe34347.588fcc"]]},{"id":"7b271a0e.edeb04","type":"http response","z":"72685ddf.2c4474","name":"","statusCode":"","headers":{},"x":761,"y":292,"wires":[]},{"id":"7fe34347.588fcc","type":"function","z":"72685ddf.2c4474","name":"","func":"//msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":391.5,"wires":[["4c343000.e9e81","f5c289f6.ed6f68"]]},{"id":"f5c289f6.ed6f68","type":"debug","z":"72685ddf.2c4474","name":"","active":true,"console":"false","complete":"false","x":739.0000267028809,"y":499.99999809265137,"wires":[]},{"id":"4c343000.e9e81","type":"function","z":"72685ddf.2c4474","name":"","func":"var downlinkData = \"0102030405060708\";\n\n\nvar x  =  '{ \"' +  msg.payload.device  + '\" :{\"downlinkData\" : \"' + downlinkData + '\" } }'; // response is the 8 nytes\n//var x = '{\"' + msg.payload.device + '\": { \"noData\" : true } }'; // send this if you dont want to send any response\n\n\nmsg.payload = JSON.parse(x);\nmsg.statusCode = 200;\nreturn msg;\n","outputs":1,"noerr":0,"x":455,"y":365.5,"wires":[["f655dfd7.c7661","7b271a0e.edeb04"]]},{"id":"f655dfd7.c7661","type":"debug","z":"72685ddf.2c4474","name":"","active":true,"console":"false","complete":"payload","x":728,"y":387,"wires":[]},{"id":"a0759fca.e70b6","type":"http request","z":"72685ddf.2c4474","name":"","method":"POST","ret":"obj","url":"http://52.56.182.210/netsensors/myapi.php","tls":"","x":630,"y":622.5,"wires":[["71484133.a8e0f"]]},{"id":"dcbdec05.1f12b","type":"inject","z":"72685ddf.2c4474","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":176,"y":621.5,"wires":[["fb61e805.e34e78"]]},{"id":"fb61e805.e34e78","type":"function","z":"72685ddf.2c4474","name":"","func":"msg.payload = '{\"test\":1}'\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":622,"wires":[["a0759fca.e70b6"]]},{"id":"71484133.a8e0f","type":"debug","z":"72685ddf.2c4474","name":"","active":false,"console":"false","complete":"false","x":860,"y":623,"wires":[]}]